
.register-container {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  .register-form {
    position: relative;
    width: 520px;
    max-width: 100%;
    padding: 160px 35px 0;
    margin: 0 auto;
    overflow: hidden;
  }
  .register-label {
    font-size: 50px;
  }
  .title-container {
    position: relative;
    .title {
      font-size: 46px;
      margin: 0px auto 40px auto;
      text-align: center;
      font-weight: bold;
    }
    .set-language {
      color: #fff;
      position: absolute;
      top: 5px;
      right: 0px;
    }
  }
}
